body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    cursor: pointer;
}

/* NAVBAR */

.globalCont {
    display: flex;
    justify-content: space-evenly;
    margin: 30vh;

    .logoCont {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        h1 {
            font-size: 4em;
            color: rgb(0, 0, 0);
            margin-bottom: -15px;

            span {
                color: rgb(148, 148, 148);
            }
        }

        p {

            font-size: 1.5em;

            span {
                color: rgb(0, 0, 0);
                font-weight: bold;
            }
        }
    }

    .homeCont {
        display: flex;
        justify-content: center;

        .navBar {
            padding: 10vh;
            background-color: rgb(247, 247, 247);
            box-shadow: 0px 5px 10px 0 rgb(204, 204, 204);
            border-radius: 9px;

            a {
                text-decoration: none;
                list-style-type: none;
                margin: 10px;
                padding: 15px;
                background-color: blue;
                border-radius: 5px;
                cursor: pointer;
                text-align: center;
                color: white;
                font-weight: bold;

                &:hover {
                    filter: brightness(0.9);
                }
            }

            .navInside {
                display: flex;
                flex-direction: column;
            }

        }
    }

    #regBorder {
        border-bottom: 1px solid rgb(190, 190, 190);
        width: 250px;
        margin: 1.3vh;
    }
}



/* REG-FORM */

#regForm {
    display: flex;
    justify-content: center;
    margin: 15vh;


    input {
        width: 350px;
        padding: 15px;
        margin: 5px;
        border: none;
        outline: none;
        border: 1px solid rgb(190, 190, 190);
        border-radius: 6px;

        &::placeholder {
            font-size: 1.2em;
        }
    }


    #btn-reg {
        width: 383px;
        padding: 12px;
        margin: 15px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: rgb(33, 167, 21);
        color: white;
        font-weight: bold;
        border-radius: 6px;
        font-size: 1.4em;

        &:hover {
            background-color: rgb(34, 150, 24);
        }
    }

    .regFormStyl {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 400px;
        box-shadow: 0px 5px 10px 0 rgb(177, 176, 176);
        opacity: 0.6;
        background-color: #fff;
        border-radius: 9px;

        i {
            align-self: self-end;
            cursor: pointer;
            color: rgb(145, 144, 144);
        }



        #msg-warning {
            display: none;
            color: rgb(231, 71, 71);
        }

        a {
            text-decoration: none;
            list-style-type: none;
            margin: 10px;
            padding: 10px;
            background-color: rgb(2, 19, 252);
            border-radius: 5px;
            cursor: pointer;
            width: 160px;
            text-align: center;
            color: white;
            font-size: 1.1em;
            font-weight: bold;

            &:hover {
                background-color: rgb(3, 0, 197);
            }
        }

        i {
            height: 20px;
            width: 20px;
            background-color: #fff;
        }

        p {
            color: rgb(104, 104, 104);
        }

        #regBorder {
            border-bottom: 1px solid rgb(190, 190, 190);
            width: 380px;
            margin-bottom: 10px;
        }

    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        opacity: none;
        font-weight: bold;
        font-size: 2em;
        color: rgb(88, 88, 88);
    }

}





/* LOG-FORM */

#logForm {
    display: flex;
    justify-content: center;
    margin: 15vh;

    form {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin: 10px;
    }

    input {
        width: 350px;
        padding: 15px;
        margin: 12px;
        border: none;
        outline: none;
        border: 1px solid rgb(190, 190, 190);
        border-radius: 6px;

        &::placeholder {
            font-size: 1.2em;
        }
    }

    #btn-log {
        width: 383px;
        padding: 12px;
        margin: 12px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: rgb(2, 19, 252);
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        border-radius: 6px;

        &:hover {
            background-color: rgb(3, 0, 197);
        }
    }

    .logFormStyl {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 400px;
        box-shadow: 0px 5px 10px 0 rgb(151, 150, 150);
        opacity: 0.6;
        background-color: #fff;
        border-radius: 9px;

        i {
            align-self: self-end;
            cursor: pointer;
            color: rgb(145, 144, 144);
        }


        a {
            text-decoration: none;
            list-style-type: none;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            width: 160px;
            text-align: center;
            color: white;
            background-color: rgb(33, 167, 21);
            font-size: 1.1em;
            font-weight: bold;


            &:hover {
                background-color: rgb(34, 150, 24);
            }
        }

        #infoMdp {
            color: blue;
            font-size: 15px;
            cursor: pointer;
            margin-bottom: 10px;
            margin-top: -10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        opacity: none;
        font-weight: bold;
        font-size: 2em;
        color: rgb(88, 88, 88);
    }

    #msg-warning {
        color: rgb(231, 71, 71);
    }

    p {
        color: rgb(104, 104, 104);
    }

    #regBorder {
        border-bottom: 1px solid rgb(190, 190, 190);
        width: 380px;
        margin-bottom: 10px;
    }
}


/* HOME */

.grandCont {


    .panelCont {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(248, 248, 248);
        box-shadow: 0 4px 8px 0 rgb(218, 218, 218);
        padding: 15px;
        height: 40px;


        .rightIconBlock {

            i {
                padding: 23px;
            }
        }

        h1 {
            margin: 10px;
            color: black;
            text-decoration: none;

            span {
                color: rgb(136, 136, 136);
            }
        }

        .iconsCont {

            i {
                margin-right: 50px;
                font-size: 1.5em;
                padding: 23px;
                color: rgb(124, 124, 124);
                cursor: pointer;
            }
        }



        i {
            margin-right: 50px;
            font-size: 1.5em;
            padding: 20px;
            color: rgb(124, 124, 124);
            cursor: pointer;
        }

    }

    .grandContWrap {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        flex-direction: row;
    }

    .bodyCont {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .panelSearch {
            form {
                display: none;

                input {
                    font-family: 'FontAwesome';
                    background-image: url(/img/search.png);
                    background-position: 10px center;
                    background-repeat: no-repeat;
                    text-indent: 30px;
                    padding: 15px;
                    border: none;
                    outline: none;
                    width: 250px;
                    margin: 20px;
                    border-radius: 20px;

                    &::placeholder {
                        font-size: 1.2em;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }

                input:focus {
                    background-position: -20px center;
                    text-indent: 0;
                }
            }

        }

        .firstCont {

            .personalCont {
                display: flex;
                justify-content: center;
                align-items: baseline;
                flex-direction: column;
                margin: 10px;
                padding: 10px;
                cursor: pointer;

                .nameMail {
                    p {
                        display: none;
                        font-weight: bold;
                        color: rgb(32, 117, 228);
                    }
                }

                &:hover {
                    background-color: rgb(224, 224, 224);
                    border-radius: 9px;
                }

                #nameTwo {
                    text-align: center;
                    margin-bottom: 5px;
                    margin-top: 10px;
                    font-weight: bold;
                }

                #email {
                    margin-left: 10px;
                }

                #avatar {

                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        background-repeat: no-repeat;
                        object-fit: cover;
                        box-shadow: 0 2px 6px 0 gray;
                    }

                }
            }
        }

        .secondCont {
            display: flex;
            justify-content: center;
            margin: 10px;

            .secondContWrap {
                display: flex;
                align-items: center;
                background-color: rgb(248, 248, 248);
                box-shadow: 0 3px 8px 0 rgb(218, 218, 218);
                width: 550px;
                border-radius: 9px;
                margin: 15px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(235, 235, 235);

                }
            }

            i {
                border-radius: 50%;
                padding: 15px;
                background-color: rgb(217, 227, 250);
                margin-right: 10px;
                margin-left: 20px;
                color: rgb(9, 105, 250);
                cursor: pointer;

                &:hover {
                    filter: brightness(0.9);
                }
            }

            h4 {
                margin-bottom: -10px;
                font-weight: bold;
            }
        }

        .thirdCont {

            form {
                input {
                    font-family: 'FontAwesome';
                    background-image: url(/img/search.png);
                    background-position: 10px center;
                    background-repeat: no-repeat;
                    text-indent: 30px;
                    padding: 15px;
                    border: none;
                    outline: none;
                    width: 250px;
                    margin: 20px;
                    border-radius: 20px;

                    &::placeholder {
                        font-size: 1.2em;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }

                input:focus {
                    background-position: -20px center;
                    text-indent: 0;
                }
            }

            i {
                display: none;
                color: rgb(109, 109, 109);
                font-size: 1.7em;
                margin-right: 50px;
            }


        }
    }
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-primary {
        color: rgb(51, 129, 245);
        border-radius: 9px;
        font-size: 1.5em;

        &:hover {
            filter: brightness(1.2);
        }
    }

    .infoTitles {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(211, 211, 211);
        width: 800px;
    }

    .actionBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            margin-right: 240px;
            container-type: inline-size;

        }

        .actions {
            display: flex;

            .fa-trash {
                color: rgb(255, 137, 137);
            }

            a {
                margin-right: 10px;
                padding: 10px;
                color: rgb(51, 129, 245);
                ;
                border-radius: 9px;
                font-size: 1.3em;
            }
        }
    }
}


/* FOOTER */

.footer {
    .panelContFooter {
        display: none;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(248, 248, 248);
        box-shadow: 0 4px 8px 0 rgb(218, 218, 218);
        padding: 15px;
        height: 40px;


        .rightIconBlock {

            i {
                padding: 23px;
            }
        }

        h1 {
            margin: 10px;
            color: black;
            text-decoration: none;

            span {
                color: rgb(136, 136, 136);
            }
        }

        .iconsCont {

            i {
                margin-right: 50px;
                font-size: 1.5em;
                padding: 23px;
                color: rgb(124, 124, 124);
                cursor: pointer;
            }

        }



        i {
            margin-right: 50px;
            font-size: 1.5em;
            padding: 20px;
            color: rgb(124, 124, 124);
            cursor: pointer;
        }

        #avatar {

            img {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                background-repeat: no-repeat;
                object-fit: cover;
                box-shadow: 0 2px 6px 0 gray;
            }

        }

    }

}



/* RESPONSIVE */

/* NAV-BAR */

@media screen and (max-width: 1600px) {
    .globalCont {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5vh;
    }
}

@media screen and (max-width: 912px) {

    .globalCont {

        .logoCont {
            p {
                font-size: 1.2em;
            }
        }

        .homeCont {
            display: flex;
            justify-content: center;

            .navBar {
                padding: 4vh;
            }
        }
    }
}

@media screen and (max-width: 618px) {

    .globalCont {

        .logoCont {
            p {
                font-size: 1em;
            }
        }

        .homeCont {
            display: flex;
            justify-content: center;

            .navBar {
                padding: 4vh;
            }
        }
    }
}

@media screen and (max-width: 568px) {

    .globalCont {

        .logoCont {
            p {
                font-size: 0.8em;
            }
        }

        .homeCont {
            display: flex;
            justify-content: center;

            .navBar {
                padding: 2vh;
            }
        }
    }
}

@media screen and (max-width: 368px) {

    .globalCont {

        .logoCont {
            p {
                font-size: 0.8em;
            }
        }

        .homeCont {
            display: flex;
            justify-content: center;

            .navBar {
                padding: 1vh;
            }
        }
    }
}



/* LOGIN */


@media screen and (max-width: 468px) {

    #logForm {

        .logFormStyl {
            padding: 10px;
            width: 300px;
        }

        input {
            width: 200px;
            align-self: center;
        }

        #btn-log {
            width: 233px;
        }

        #regBorder {
            width: 233px;
        }
    }
}

/* REGISTER */


@media screen and (max-width: 468px) {

    #regForm {

        .regFormStyl {
            padding: 10px;
            width: 300px;

            #regBorder {
                width: 233px;
            }
        }

        input {
            width: 200px;
            align-self: center;
        }

        #btn-reg {
            width: 233px;
        }
    }
}




/* HOME - ACCUEIL */


@media screen and (max-width: 1128px) {

    .grandCont {
        .panelCont {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .bodyCont {
            .thirdCont {
                form {
                    input {
                        width: 200px;
                    }
                }
            }
        }
    }


}

@media screen and (max-width: 1080px) {

    .grandCont {
        .panelCont {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .bodyCont {
            .thirdCont {
                form {
                    input {
                        display: none;
                    }
                }

                i {
                    display: block;
                }
            }

            .secondCont {
                .secondContWrap {
                    width: 450px;
                }
            }
        }
    }



}


@media screen and (max-width: 948px) {

    .grandCont {
        .panelCont {
            display: flex;
            align-items: center;
            justify-content: space-around;

            i {
                margin-right: 30px;
                padding: 15px;
                font-size: 1.2em;
            }
        }

        .bodyCont {
            .thirdCont {
                form {
                    input {
                        display: none;
                    }
                }

                i {
                    display: block;
                }
            }

            .secondCont {
                .secondContWrap {
                    width: 450px;
                }
            }
        }
    }


}

@media screen and (max-width: 848px) {

    .grandCont {
        .panelCont {
            .iconsCont {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                i {
                    margin-right: 10px;
                    padding: 23px;
                    font-size: 1.4em;
                }
            }
        }

        .bodyCont {
            .thirdCont {
                form {
                    input {
                        display: none;
                    }
                }

                i {
                    display: block;
                }
            }

            .secondCont {
                .secondContWrap {
                    width: 350px;
                }
            }
        }
    }


    .footer {
        .panelContFooter {
            .iconsCont {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                i {
                    margin-right: 10px;
                    padding: 23px;
                    font-size: 1.4em;
                }
            }
        }
    }
}


@media screen and (max-width: 718px) {

    .grandCont {
        .panelCont {
            .iconsCont {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                i {
                    margin-right: 10px;
                    padding: 23px;
                    font-size: 1.4em;
                }
            }
        }

        .bodyCont {
            .thirdCont {
                form {
                    input {
                        display: none;
                    }
                }

                i {
                    display: block;
                }
            }

            .secondCont {
                .secondContWrap {
                    width: 250px;

                    .storyInfo {
                        p {
                            font-size: 0.7em;
                        }
                    }
                }
            }
        }
    }

    .footer {
        .panelContFooter {
            .iconsCont {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                i {
                    margin-right: 10px;
                    padding: 23px;
                    font-size: 1.4em;
                }
            }
        }
    }
}


@media screen and (max-width: 686px) {

    .grandCont {
        .panelCont {
            .iconsCont {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                i {
                    margin-right: 5px;
                    padding: 23px;
                    font-size: 1.2em;
                }

                .fa-gear {
                    display: none;
                }
            }

            .rightIconBlock {
                margin-left: -35px;

                i {
                    display: none;
                }
            }
        }

        .bodyCont {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;

            .thirdCont {
                form {
                    input {
                        display: block;
                    }
                }

                i {
                    display: none;
                }
            }

            .secondCont {

                .secondContWrap {
                    display: flex;
                    align-items: baseline;
                    width: 220px;
                    padding: 10px;

                    .storyInfo {
                        p {
                            display: none;
                        }
                    }
                }

                h4 {}

                i {
                    margin-left: 0;
                }
            }

            .firstCont {
                .personalCont {
                    .nameMail {
                        p {
                            display: block;
                            text-align: center;
                        }
                    }
                }

            }
        }
    }

    .footer {
        .panelContFooter {
            .iconsCont {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                i {
                    margin-right: 5px;
                    padding: 23px;
                    font-size: 1.2em;
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {

    .grandCont {
        .panelCont {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .iconsCont {
                margin-left: 150px;

                i {
                    margin-right: 5px;
                    padding: 23px;
                    font-size: 1.2em;
                }

                .fa-home {
                    display: none;
                }

                .fa-bell {
                    display: none;
                }
            }

            .rightIconBlock {
                margin-left: -35px;

                i {
                    display: none;
                }
            }
        }

        .bodyCont {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;

            .thirdCont {
                form {
                    input {
                        display: block;
                    }
                }

                i {
                    display: none;
                }
            }

            .secondCont {

                .secondContWrap {
                    display: none;

                    .storyInfo {
                        p {
                            display: none;
                        }
                    }
                }

                h4 {}
            }

            .firstCont {
                .personalCont {
                    .nameMail {
                        p {
                            display: block;
                            text-align: center;
                        }
                    }
                }

            }
        }
    }

    .footer {
        .panelContFooter {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .iconsCont {
                display: flex;
                align-items: center;
                justify-content: space-evenly;


                i {
                    margin-right: 5px;
                    padding: 23px;
                    font-size: 1.2em;
                }
            }

            .rightIconBlock {
                i {
                    margin-right: -15px;
                }
            }
        }
    }
}


@media screen and (max-width: 436px) {

    .grandCont {
        .panelCont {
            .iconsCont {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                i {
                    margin-right: 0px;
                    padding: 23px;
                    font-size: 1.2em;
                }
            }

            .rightIconBlock {
                margin-left: -35px;

                i {
                    display: none;
                }
            }

            h1 {
                margin: 0;
            }
        }

        .bodyCont {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .panelSearch {
                form {
                    display: block;
                }
            }

            .thirdCont {
                form {
                    display: none;

                    input {
                        display: block;
                    }
                }

                i {
                    display: none;
                }
            }

            .secondCont {}

            .firstCont {
                border-bottom: 1px solid rgb(211, 211, 211);

                .personalCont {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .nameMail {
                        p {
                            display: block;
                            text-align: center;
                        }
                    }
                }

            }
        }
    }

    .footer {
        .panelContFooter {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .iconsCont {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                i {
                    margin-right: 0px;
                    padding: 23px;
                    font-size: 1.2em;
                }
            }

            h1 {
                margin: 0;
                font-size: 1.3em;
            }
        }
    }
}


@media screen and (max-width: 412px) {

    .grandCont {
        .panelCont {
            .iconsCont {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                i {
                    margin-right: 0px;
                    padding: 23px;
                    font-size: 1.2em;
                }
            }

            .rightIconBlock {
                margin-left: 0px;

                i {
                    display: none;
                }
            }

            h1 {
                margin: 0;
            }
        }

        .bodyCont {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .panelSearch {
                form {
                    display: block;
                }
            }

            .thirdCont {
                form {
                    display: none;

                    input {
                        display: block;
                    }
                }

                i {
                    display: none;
                }
            }

            .secondCont {}

            .firstCont {
                border-bottom: 1px solid rgb(211, 211, 211);

                .personalCont {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .nameMail {
                        p {
                            display: block;
                            text-align: center;
                        }
                    }
                }

            }
        }
    }

    .footer {
        .panelContFooter {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .iconsCont {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                i {
                    margin-right: 0px;
                    padding: 23px;
                    font-size: 1.2em;
                }
            }

            h1 {
                margin: 0;
                font-size: 1.3em;
            }
        }

        .rightIconBlock {
            i {
                margin-right: 0px;
            }
        }
    }
}